/*Quitar los Stylos del nvegado
* {

}*/

.main-nav {
    margin-top: 10px;
    /*Quita los puntos a las listas desordenadas*/
    list-style: none;
    padding-left: 0;
    background-color: #13a4a4;
}

.main-nav__item {
    /*Poner en una sola linea los item del ul es decir los li*/
    display: inline-block;
}

/*Modificar Style a tag a que esta dentro de la clase main-nav__item
solo afecta a esos elementos */
.main-nav__item a {
    /*Quitar la liena de abajo de las ancla tag a*/
    text-decoration: none;
    color: white;
    /*Separa cada tag a del anterio y el siguiente si los tiene*/
    padding: 5px;
}

/*Psuedo Clases*/
.main-nav__item a:hover {
    color: blue;
}

.main-nav__item a:active {
    color: red;
}

